<body>
    <div class="form-page-container">
        <div class="form-container">
            <h1 class="form-heading">Create a new listing</h1>
            <%= render 'form', listing: @listing %>
        </div>
    </div>
</body>

