// parent containers

.out-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  max-height: 2000px;
}

.middle.left {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-self: flex-start;
}

.middle.right {
  margin-top: 0px;
  max-width: 40%;
  display: flex;
  flex-direction: column;
}

// profile

.profile-pic {
  height: 500px;
  max-width: 600px;
  margin-top: 120px;
  border-radius: 15px;
}

.profile-content {
  align-self: flex-start;
  max-width: 600px;
  margin: 20px 0px 0px 130px;
}

.profile-title {
  margin-top: 20px;
}

.profile-description {
  margin-top: 20px;
}

.edit-button {
  margin-left: 0px;
}

.profile-review {
  margin-top: 70px;
}

// review card

.review-card {
  max-height: 450px;
  max-width: 500px;
  border-radius: 15px;
  margin-top: 20px;
  background-color: seashell;
}

.review-name {
  margin-top: 20px;
  margin-left: 20px;
}

.review-title {
  margin-top: 20px;
  margin-left: 20px;
}

.review-content {
  margin-top: 20px;
  margin-left: 20px;
}

.review-time {
  margin: 20px 0px;
  margin-left: 20px;
}

.review-button {
  width: 100%;
  max-height: 100px;
  margin: 20px 0px;
  border-radius: 15px;
}

// media queries

@media only screen and (max-width: 1300px) {
  .profile-pic {
    height: 400px;
    max-width: 500px;
    margin-top: 40px;
  }
  .review-card {
    max-height: 350px;
    max-width: 450px;
    margin-right: 20px;
  }

  .review-button {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 1150px) {
  .profile-content {
    margin: 0px 20px 0px 50px;
  }

  .profile-pic {
    height: 300px;
    max-width: 400px;
  }
}

@media only screen and (max-width: 750px) {
  .profile-content {
    margin: 0px 20px 0px 20px;
  }

  .profile-pic {
    height: 300px;
    max-width: 300px;
    margin-top: 80px;
  }
  .profile-title {
    font-size: 30px;
  }
}

@media only screen and (max-width: 650px) {
  .out-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .middle.left {
    max-width: 100%;
    margin-left: 40px;
  }

  .middle.right {
    max-width: 100%;
    margin-left: 70px;
  }

  .profile-content {
    align-self: center;
    margin: 40px 0px;
  }

  .profile-pic {
    margin-top: 0px;
  }

  .review-card {
    max-width: 600px;
    margin-right: 20px;
  }

  .profile-review {
    margin-top: 0px;
  }
}
